# IMPORTANT NOTE: Remove the ".sample" suffix from the filename and assure that is listed in ".gitignore"

# Backend-related information
PORT = 3000
# Remember to switch the line below to "production" before deploying otherwise all app error messages will be printed out to console
NODE_ENV = "development"

# Frontend-related information
FRONTEND_ADDRESS = "http://127.0.0.1:5000"

# Database-related information
# For more information about prisma db connection string check out the following link => https://www.prisma.io/docs/orm/reference/connection-urls
DATABASE_URL = "mysql://user:password@localhost:3306/dbname"

# Authentication-and-security-related information
# IMPORTANT NOTE: These are very sensitive information
# In order to ensure security for your users please set values that are difficult to guess and long enough (15 or more suggested)
JWT_SECRET = "verylongdifficulttoguesssecret"