<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Reset Password'}) %>
    <body>
        <form id = "passwordResetForm" class = "fullScreenForm">
            <h1>Reset Password</h1>
            <input type = "email" name = "email" placeholder = "Account Email*" required>

            <button type = "submit">SUBMIT</button>
        </form>
        
        <div class = "toast"></div>
        

        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src = "/script/utils/isObject.utility.js"></script>
        <script src = "/script/utils/createElement.utility.js"></script>
        <script src = "/script/utils/formDataToObject.utility.js"></script>
        <script src = "/script/utils/fetchFromServer.utility.js"></script>
        <script src = "/script/utils/displayMessage.utility.js"></script>
        <script src = "/script/utils/formErrorsManagement.utility.js"></script>
        <script src = "/script/utils/validators.utility.js"></script>
        <script src = "/script/validation/passwordResetGeneration.validator.js"></script>
        <script src = "/script/auth/passwordResetGeneration.auth.js"></script>
    </body>
</html>