<!DOCTYPE html>

<html lang = "en">
    <%- include('../partials/head.partial.ejs', {title: 'Sign-Up'}) %>
    <body inert>
        <%- include('../partials/loading.partial.ejs') %>
        
        <form id = "signupForm" class = "fullScreenForm">
            <h1>Sign-Up</h1>
            <div class = "space-x-3">
                <input type = "text" name = "firstName" placeholder = "First name*" required>
                <input type = "text" name = "lastName" placeholder = "Last name*" required>
            </div>
            <input type = "email" name = "email" placeholder = "Email*" required>
            <input type = "password" name = "password" placeholder = "Password*" required>
            <input type = "password" name = "passwordVerify" placeholder = "Repeat Password*" required>

            <button type = "submit">SUBMIT</button>
        </form>

        <div class = "toast"></div>


        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
        <script src = "/script/utils/isObject.utility.js"></script>
        <script src = "/script/utils/createElement.utility.js"></script>
        <script src = "/script/utils/toggleCheckbox.utility.js"></script>
        <script src = "/script/utils/formDataToObject.utility.js"></script>
        <script src = "/script/utils/fetchFromServer.utility.js"></script>
        <script src = "/script/utils/displayMessage.utility.js"></script>
        <script src = "/script/utils/formErrorsManagement.utility.js"></script>
        <script src = "/script/utils/validators.utility.js"></script>
        <script src = "/script/validation/signup.validator.js"></script>
        <script src = "/script/auth/signup.auth.js"></script>
        <script src = "/script/auth/isLoggedIn.auth.js"></script>
        <script src = "/script/utils/removeLoadingScreen.utility.js"></script>
    </body>
</html>